.dart_tool/
.packages
.pub/
build/
coverage/
dist/
**/__pycache__/
supabase/.temp/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml
.DS_Store

# Generated platform build output
android/.gradle/
ios/Pods/
ios/.symlinks/
windows/flutter/ephemeral/
